@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold_2-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

h1, p, ul, li, fieldset {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

ul {
    list-style-type: none;
}

label, input {
    display: block;
}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: 0.12rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Image area */
.image {
    height: 100%;
    background-color: #333;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    padding-top: 200px;
}

.logo-bgc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(0, 0, 0, 0.6);
    margin-bottom: 420px;
}

.logo-icon {
    height: 190px;
    width: 140px;
    background-image: url(./images/odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    font-family: "norsebold", sans-serif;
    font-size: 8rem;
    color: white;
}

.picture-source {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.picture-source a {
    transition: all 300ms ease-in;
}

.picture-source a:hover,
.picture-source a:focus {
    color: #5D86B4;
}

/* Main area */
main {
    padding: 80px 0 20px 0;
}

.text-content {
    width: 80%;
    font-weight: bold;
    margin-bottom: 60px;
    padding-left: 52px;
}

.text-content-first-paragraph {
    margin-bottom: 40px;
}

/* Form */
fieldset {
    border: none;
    box-shadow: 0px 11px 10px -4px rgba(0,0,0,0.45);
    padding: 0 0 40px 52px;
    margin-bottom: 40px;
}

legend {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.inputs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 44px 60px;
    max-width: 800px;
}

.control-group {
    position: relative;
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

input {
    width: 300px;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    font-size: 1rem;
    padding: 6px 8px;
}

input:hover,
input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* inputs validation styles */
.valid {
    border-color: green;
}

.invalid {
    border-color: red;
}

.error {
    position: absolute;
    max-width: 300px;
    font-size: 0.7rem;
    font-weight: bold;
    color: red;
    top: 54px;
    left: 0;
}

.button-wrapper {
    padding-left: 52px;
}

.btn {
    width: 240px;
    background-color: #596D48;
    border: none;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.12rem;
    margin-bottom: 20px;
    transition: all 300ms ease-in;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #5D86B4;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-text {
    font-size: 1rem;
    font-weight: bold;
}

.login-text a {
    text-decoration: none;
    color: #596D48;
    transition: all 300ms ease-in;
}

.login-text a:hover,
.login-text a:focus {
    color: #5D86B4;
}